html, body, #root, #root>div {
  height: 100%;
  margin: 0;
}
body,p,h1,h2,h3,h4,h5{
  color:white !important;
  }


.App {
  background-image:url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items:center;
}
.App-link {
  color: #61dafb;
}

.jumbotron {
  background-color: rgba(245, 245, 245, 0.33) !important ;
  backdrop-filter: blur(3px);
  text-align: center;
  border:1px solid white !important;
  border-radius: 0 !important;
  width: 500px;
}

.search-bar{
  width: 70%;
  margin-right: 10px;
}

